<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="harryguo.voicecmd">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 正式发布时，请替换成您自己的appId 本demo的appId会不定时下线 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="10715149" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="rDEcNxZs0mGIXiPYnVg1Apfg" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="058ee8771585ae0da967f5ea49f6d015" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="harryguo.voicecmd.activity.setting.OnlineSetting"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="在线识别设置"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="harryguo.voicecmd.activity.setting.OfflineSetting"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="离线命令词设置"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="harryguo.voicecmd.activity.setting.NluSetting"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="语义设置"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>